/Pacman_g/Debug/
/Pacman_g/.vs/
/Pacman_g/Pacman_g/Debug/


Pacman_g/Debug/Pacman_g.exe
Pacman_g/Debug/Pacman_g.ilk
Pacman_g/Debug/Pacman_g.pdb
Pacman_g/Pacman_g/Debug/Boton.obj
Pacman_g/Pacman_g/Debug/Controller.obj
Pacman_g/Pacman_g/Debug/Juego.obj
Pacman_g/Pacman_g/Debug/Main.obj
Pacman_g/Pacman_g/Debug/Mapa.obj
Pacman_g/Pacman_g/Debug/Nodo.obj
Pacman_g/Pacman_g/Debug/Pacman_g.log
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/CL.command.1.tlog
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/CL.read.1.tlog
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/CL.write.1.tlog
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/link.command.1.tlog
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/link.read.1.tlog
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/link.write.1.tlog
Pacman_g/Pacman_g/Debug/Pacman_g.tlog/Pacman_g.lastbuildstate
Pacman_g/Pacman_g/Debug/Pantalla_Carga.obj
Pacman_g/Pacman_g/Debug/Pantalla_GameOver.obj
Pacman_g/Pacman_g/Debug/Pantalla_Jugador.obj
Pacman_g/Pacman_g/Debug/Pantalla_Lvl.obj
Pacman_g/Pacman_g/Debug/Personaje.obj
Pacman_g/Pacman_g/Debug/TextField.obj
Pacman_g/Pacman_g/Debug/vc142.idb
Pacman_g/Pacman_g/Debug/vc142.pdb
